* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* html{
    scroll-behavior: smooth;
} */
html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

.progress-bar {
    position: fixed;
    bottom:0px;
    left: 0px;
    right: 0px;
    height: 5px;
    background:linear-gradient(40deg,rgb(47, 182, 250),rgb(115, 0, 255),blue);
    border-radius: 20px;
    transform-origin: 0%;
}